---
parser: v2
auto_validation: true
time: 1
tags: [ tutorial>beginner, topic>cloud ]
primary_tag: topic>cloud
---

# SAP TechEd 2022 - Hackathon Evening
<!-- description --> Thank you for joining the SAP TechEd 2022 Hackathon Evening. Answer the following question to receive the event's SAP Community Badge.

---

### Answer the following question

---
