---
auto_validation: true
time: 5
tags: [ tutorial>beginner, topic>cloud, software-product>sap-business-technology-platform]
primary_tag: topic>cloud
author_name: Kevin Muessig
author_profile: https://github.com/kevinmuessig
parser: v2
---

# SAP TechEd 2022 - Hackathon Evening
<!-- description --> Thank you for joining the SAP TechEd 2022 Hackathon Evening. Answer the following question to receive the event's SAP Community Badge.

---

### Question 1